doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Theory Website Title

    //- Stylesheets
    link(rel='stylesheet' href='css/dep.css')
    link(rel='stylesheet' href='css/paganini.css')
    style.
      canvas {
        border: 1px black solid
      }

  body
    .container
      .row
        .col-xs-12
          //Staff Group #staff1x 
          h1 Blank Staff
          hr
        .col-xs-12.col-md-6
          h3 Default Settings 
          canvas#staff11
        .col-xs-12.col-md-6
          h3 Smaller Height 
          canvas#staff12
        .col-xs-12.col-md-12
          h3 Larger Height 
          canvas#staff13
      .row
        .col-xs-12
          //Staff Group 2
          h1 Staff with Clefs 
          hr 
        .col-xs-12.col-md-6
          h3 Default Height, Treble 
          canvas#staff21
        .col-xs-12.col-md-6
          h3 Smaller Height, Bass
          canvas#staff22
        .col-xs-12.col-md-6
          h3 Larger Height, Tenor 
          canvas#staff23
        .col-xs-12.col-md-6
          h3 Default Height, Alto
          canvas#staff24
      .row
        .col-xs-12
          //Staff Group 3
          h1 Staff with Clef and Key 
          hr
          h2 All Sharps 
        .col-xs-12.col-md-6
          h3 Treble
          canvas#staff31
        .col-xs-12.col-md-6
          h3 Alto
          canvas#staff32
        .col-xs-12.col-md-6
          h3 Tenor
          canvas#staff33
        .col-xs-12.col-md-6
          h3 Bass
          canvas#staff34
        .col-xs.12
          h2 All Flats 
        .col-xs-12.col-md-6
          h3 Treble
          canvas#staff35
        .col-xs-12.col-md-6
          h3 Alto
          canvas#staff36
        .col-xs-12.col-md-6
          h3 Tenor
          canvas#staff37
        .col-xs-12.col-md-6
          h3 Bass
          canvas#staff38
          
          


    //- Scripts
    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='js/fontloader.js')
    script(src='js/theory.js')
    script.
      var fontLoader = new FontLoader(['paganini'], {
        "fontsLoaded": function(error) {
          if (error !== null) {
            // Reached the timeout but not all fonts were loaded
            console.log(error.message);
            console.log(error.notLoadedFontFamilies);
          } else {
            // All fonts were loaded
            console.log("all fonts were loaded");
            //Group 1
            theoryEngine('staff11');
            theoryEngine('staff12', {
              height: 80
            });
            theoryEngine('staff13', {
              height: 300
            });
            
            //Group 2
            theoryEngine('staff21', {
              clef: 'treble'
            });
            theoryEngine('staff22', {
              height: 100,
              clef: 'bass'
            });
            theoryEngine('staff23', {
              height: 300,
              clef: 'tenor'
            });
            theoryEngine('staff24', {
              clef: 'alto'
            });
            
            //Group 3
            theoryEngine('staff31', {
              clef: 'treble',
              key: 'cis'
            });
            theoryEngine('staff32', {
              clef: 'alto',
              key: 'cis'
            });
            theoryEngine('staff33', {
              clef: 'tenor',
              key: 'cis'
            });
            theoryEngine('staff34', {
              clef: 'bass',
              key: 'cis'
            });
            theoryEngine('staff35', {
              clef: 'treble',
              key: 'ces'
            });
            theoryEngine('staff36', {
              clef: 'alto',
              key: 'ces'
            });
            theoryEngine('staff37', {
              clef: 'tenor',
              key: 'ces'
            });
            theoryEngine('staff38', {
              clef: 'bass',
              key: 'ces'
            });
            
            
            
          }
        }
      }, 3000);
      fontLoader.loadFonts();
