@font-face {
	font-family: 'paganini';
	src:url('../fonts/paganini.eot?lsl1bg');
	src:url('../fonts/paganini.eot?#iefixlsl1bg') format('embedded-opentype'),
		url('../fonts/paganini.woff?lsl1bg') format('woff'),
		url('../fonts/paganini.ttf?lsl1bg') format('truetype'),
		url('../fonts/paganini.svg?lsl1bg#paganini') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pag-"], [class*=" pag-"] {
	font-family: 'paganini';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pag-rest1:before {
	content: "\e100";
}
.pag-rest2:before {
	content: "\e101";
}
.pag-rest0-alt:before {
	content: "\e102";
}
.pag-rest1-alt:before {
	content: "\e103";
}
.pag-rest4:before {
	content: "\e108";
}
.pag-rest8-alt:before {
	content: "\e109";
}
.pag-rest8:before {
	content: "\e10a";
}
.pag-rest16:before {
	content: "\e10b";
}
.pag-rest32:before {
	content: "\e10c";
}
.pag-rest64:before {
	content: "\e10d";
}
.pag-rest128:before {
	content: "\e10e";
}
.pag-is:before {
	content: "\e10f";
}
.pag-is-qup:before {
	content: "\e110";
}
.pag-is-qdown:before {
	content: "\e111";
}
.pag-is-qupdown:before {
	content: "\e112";
}
.pag-nat:before {
	content: "\e117";
}
.pag-nat-qup:before {
	content: "\e118";
}
.pag-nat-qdown:before {
	content: "\e119";
}
.pag-nat-qupdown:before {
	content: "\e11a";
}
.pag-es:before {
	content: "\e11b";
}
.pag-es-qup:before {
	content: "\e11c";
}
.pag-es-qdown:before {
	content: "\e11d";
}
.pag-es-qupdown:before {
	content: "\e11e";
}
.pag-eses:before {
	content: "\e124";
}
.pag-isis:before {
	content: "\e126";
}
.pag-dot:before {
	content: "\e131";
}
.pag-fermata:before {
	content: "\e132";
}
.pag-fermata-bot:before {
	content: "\e133";
}
.pag-fermata-short:before {
	content: "\e134";
}
.pag-fermata-short-bot:before {
	content: "\e135";
}
.pag-fermata-long:before {
	content: "\e136";
}
.pag-fermata-long-bot:before {
	content: "\e137";
}
.pag-accent:before {
	content: "\e13b";
}
.pag-espr:before {
	content: "\e13c";
}
.pag-staccato:before {
	content: "\e13d";
}
.pag-staccatissimo:before {
	content: "\e13e";
}
.pag-staccatissimo-bot:before {
	content: "\e13f";
}
.pag-tenuto:before {
	content: "\e140";
}
.pag-portato:before {
	content: "\e141";
}
.pag-portato-bot:before {
	content: "\e142";
}
.pag-marcato:before {
	content: "\e143";
}
.pag-marcato-bot:before {
	content: "\e144";
}
.pag-open:before {
	content: "\e145";
}
.pag-open-half:before {
	content: "\e146";
}
.pag-stopped:before {
	content: "\e148";
}
.pag-upbow:before {
	content: "\e149";
}
.pag-downbow:before {
	content: "\e14a";
}
.pag-turn-rev:before {
	content: "\e14b";
}
.pag-turn:before {
	content: "\e14c";
}
.pag-trill:before {
	content: "\e14d";
}
.pag-harmonic:before {
	content: "\e152";
}
.pag-segno:before {
	content: "\e153";
}
.pag-segno-alt:before {
	content: "\e154";
}
.pag-coda:before {
	content: "\e155";
}
.pag-coda-alt:before {
	content: "\e156";
}
.pag-scriptsrcomma:before {
	content: "\e157";
}
.pag-caesura-alt:before {
	content: "\e16b";
}
.pag-caesura:before {
	content: "\e16c";
}
.pag-pizz-snap:before {
	content: "\e16e";
}
.pag-clef-c:before {
	content: "\e16f";
}
.pag-clef-c-sm:before {
	content: "\e170";
}
.pag-clef-f:before {
	content: "\e171";
}
.pag-clef-f-sm:before {
	content: "\e172";
}
.pag-clef-g:before {
	content: "\e173";
}
.pag-clef-g-sm:before {
	content: "\e174";
}
.pag-clef-perc:before {
	content: "\e175";
}
.pag-clef-perc-sm:before {
	content: "\e176";
}
.pag-clef-tab:before {
	content: "\e177";
}
.pag-clef-tab-sm:before {
	content: "\e178";
}
.pag-time-common:before {
	content: "\e179";
}
.pag-time-cut:before {
	content: "\e17a";
}
.pag-pedal:before {
	content: "\e181";
}
.pag-note-m2:before {
	content: "\e18e";
}
.pag-note-m2-d:before {
	content: "\e18f";
}
.pag-note-m1:before {
	content: "\e190";
}
.pag-note-m1-dbl:before {
	content: "\e191";
}
.pag-note1:before {
	content: "\e192";
}
.pag-note2:before {
	content: "\e193";
}
.pag-note4:before {
	content: "\e194";
}
.pag-flag8:before {
	content: "\e21d";
}
.pag-flag16:before {
	content: "\e21e";
}
.pag-flag32:before {
	content: "\e21f";
}
.pag-flag64:before {
	content: "\e220";
}
.pag-flag128:before {
	content: "\e221";
}
.pag-flag8-d:before {
	content: "\e222";
}
.pag-flag16-d:before {
	content: "\e223";
}
.pag-flag32-d:before {
	content: "\e224";
}
.pag-flag64-d:before {
	content: "\e225";
}
.pag-flag128-d:before {
	content: "\e226";
}
.pag-plus:before {
	content: "\2b";
}
.pag-comma:before {
	content: "\2c";
}
.pag-hyphen:before {
	content: "\2d";
}
.pag-period:before {
	content: "\2e";
}
.pag-0:before {
	content: "\30";
}
.pag-1:before {
	content: "\31";
}
.pag-2:before {
	content: "\32";
}
.pag-3:before {
	content: "\33";
}
.pag-4:before {
	content: "\34";
}
.pag-5:before {
	content: "\35";
}
.pag-6:before {
	content: "\36";
}
.pag-7:before {
	content: "\37";
}
.pag-8:before {
	content: "\38";
}
.pag-9:before {
	content: "\39";
}
.pag-f:before {
	content: "\66";
}
.pag-m:before {
	content: "\6d";
}
.pag-p:before {
	content: "\70";
}
.pag-r:before {
	content: "\72";
}
.pag-s:before {
	content: "\73";
}
.pag-z:before {
	content: "\7a";
}
